* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *, *::before, *:after {
    box-sizing: border-box;
  }
  
  :focus, :active {
    outline: none;
  }
  
  a:focus, a:active {
    outline: none;
  }
  
  nav, footer, header, aside {
    display: block;
  }
  
  html, body {
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input, button, textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a, a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
//font-family: 'PT Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
//font-family: 'Playfair Display', serif;

.top-line {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    height: 44px;

 
    &__info {
        display: flex;
    }

    &__info-img {
        margin-right: 15px;
    }

    &__info-text {
        display: flex;
        align-items: center;
        font-family: 'PT Sans', sans-serif;
        font-size: 12px;
        font-weight: 400;
        color: #969696;

    }

    &__log-text {
        display: flex;
        align-items: center;
        font-family: 'PT Sans', sans-serif;
        font-size: 12px;
        font-weight: 400;
        color: #969696;

    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0F0F0F;
    padding: 0 18%;
    height: 80px;
    width: 100%;

  &__logo img{
    width: 100px;
  }

  &__menu {
    
  }

  &__close {
    display: none; 
  }

  &__links {
    display: flex;
    align-items: center;
  }

  &__link {
  }

  &__link a{
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 32px 20px;
    color: #969696;
    text-transform: uppercase;
    cursor: pointer;

}
&__link a:hover{
  background: #1F1F1F;
  color: white;
}

  &__burger {
    display: none;
  }
}


.header {
    background-image: url(images/bg-header.jpg);
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    
    &__body{
      background:rgba(0, 0, 0, 0.5);
      height: 90vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__opacity{
      
    }
    &__border {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: 4px solid white;
      width: 320px;
      height: 320px;
      margin: 0 auto;
    }

    &__logo {
      margin-bottom: 10px;
    }

    &__line{
      width: 180px;
      height: 2px;
      background-color: white;
    }

    &__title {
      margin-top: 8px;
      font-family: 'PT Sans', sans-serif;
      font-size: 22px;
      font-weight: 400;
      text-transform: uppercase;
      color: white;

    }

    &__text {
      max-width: 730px;
      text-align: center;
      margin: 0 auto;
      margin-top: 80px;
      font-family: 'PT Sans', sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase;
      color: white;
    }
}





.what-to-do-info {
  padding: 50px 18%;
 // background: #0F0F0F;
  background: black;
  width: 100%;

  &__border {
    background: no-repeat center  /   cover url(images/bg_what-to-do.jpg);
  }

  &__opacity{
    background-color: black;
    opacity: 0.6;
  }
  &__a a{
    display: flex;
    justify-content: space-between;
    padding: 45px;
  }
}
.what-to-do-info-left {
  

  &__text {
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: white;
    max-width: 90%;
  }
}
.what-to-do-info-right {

  &__text {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: white;
  }

  &__text-gray {
    padding-top: 5px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #9c9c9c;
  }
}

.product {
  padding: 25px 10%;
  background: #0F0F0F;
 //background-color: black;
  &__h2 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-weight: 700;
    color: #969696;
    margin-bottom: 20px;
  }

  &__h2 p{
    padding-bottom: 10px;
    border-bottom: 2px solid #969696;;
  }
  

  &__button {
    margin-top: 15px;
    display: flex;
    justify-content: center;
  }

  &__button a{
    border: 2px solid white;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: white;
    padding: 20px 30px;
    border-radius: 20px;
  }

  &__button a:hover{
    background-color: #949494;
    color: white;
    
  }
}





.call {
  background: black;
  padding: 20px 18%;

  &__h2{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-weight: 700;
    color: #969696;
  }
  &__h2 p{
    padding-bottom: 10px;
    border-bottom: 2px solid #969696;;
  }
}
.call-card {
  margin-top: 40px;
  display: flex;
  border: 1px solid #1F1F1F;
  background: #414141;

    
    &__img {
      border-right: 1px solid #1F1F1F;;
      padding: 10px;
    }
		&__img img{
      width: 250px;
		}

		&__text {
      padding: 20px;
		}

		&__phone {
      font-family: 'PT Sans', sans-serif;
      font-size: 24px;
      font-weight: 400;
      color: white;
      padding-bottom: 10px;
		}
    &__phone {
      font-family: 'PT Sans', sans-serif;
      font-size: 24px;
      font-weight: 400;
      color: white;
      padding-bottom: 10px;
		}

		&__p {
      font-family: 'PT Sans', sans-serif;
      font-size: 20px;
      font-weight: 400;
      color: #aaaaaa;
		}

    &__buttons{
      display: flex;
      margin-top: 80px;
    }
    
		&__button-1 {
      margin-right: 20px;
      display: flex;
		}

		&__button-2 {
      display: flex;
		}
    &__button-1 a{
      border: 2px solid white;
      padding: 20px 40px;
      border-radius: 15px;
      font-family: 'PT Sans', sans-serif;
      font-size: 20px;
      font-weight: 400;
      color: #aaaaaa;
		}

		&__button-2 a{
      border: 2px solid white;
      padding: 20px 40px;
      border-radius: 15px;
      font-family: 'PT Sans', sans-serif;
      font-size: 20px;
      font-weight: 400;
      color: #aaaaaa;
		}
    &__button-1 a:hover{
      background-color: #949494;
      color: white;
      
		}

		&__button-2 a:hover{
      background-color: #949494;
      color: white;
		}
}

.map {
  padding: 25px 18%;
  background: #0F0F0F;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;

  &__h2 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-weight: 700;
    color: #969696;
    margin-bottom: 20px;
  }

  &__h2 p{
    padding-bottom: 10px;
    border-bottom: 2px solid #969696;
  }

  &__text p {
    margin-bottom: 10px;
  }
 
  &__text a{
    color: rgb(240, 92, 92);
  }

  &__body iframe{
    margin: 0 auto;
  }
}

.last-line {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: black;
  color: #D0D0D0;
  &__text {
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
  }

}

.services {
  background: #0F0F0F;
  padding: 15px 18% 25px;
  &__h2 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-weight: 700;
    color: #969696;
    margin-bottom: 20px;
  }

  &__h2 p{
    padding-bottom: 10px;
    border-bottom: 2px solid #969696;
  }

  &__body {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #aaaaaa;
  }

  &__p1 {
    padding: 15px 0;
    background: #1F1F1F;

  }

  &__p2 {
    padding: 15px 0;
    
  }
}

.product-all {

  &__body {
    background: #1F1F1F;
    padding-top: 20px;
  }

  &__h2 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
    font-size: 34px;
    font-weight: 700;
    color: #969696;
    margin-bottom: 20px;
  }
  &__h2 p{
    padding-bottom: 10px;
    border-bottom: 2px solid #969696;
  }

  &__cards {
    
  }
  &__card-crosses{
    width: 700px;
    height: 600px;
    opacity: 0.9;
    
  }

  &__card-other{
    width: 700px;
    height: 600px;
    opacity: 0.9;
    
  }

  &__card {
    width: 350px;
    height: 250px;
    opacity: 0.9;
  }
  &__row {
    display: flex;
    justify-content: center;
  }

  &__column {
    margin: 15px 15px 45px 15px
  }

  &__p{
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: white;
    text-align: center;
    margin-top: 10px;
  }

  &__column img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
  }
}

.ven{
  height: 350px;
}

.info {
  background: #1F1F1F;
  &__body {
    padding: 40px 0;
  }

  &__h2 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-weight: 700;
    color: #969696;
    margin-bottom: 20px;
  }
  &__h2 p{
    padding-bottom: 10px;
    border-bottom: 2px solid #969696;
  }

  &__p {
    display: flex;
    justify-content: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: white;
    margin-bottom: 15px;
  }
}
.header__burger{
  display: none;
}

@media screen and (max-width:1260px) {
  .top-line{
    padding: 0 14%;
     
  }
  .nav{
    padding: 0 14%;
  }

  .header__body{
    height: 75vh;
  }

  .product-all__card{
    width: 280px;
    height: 200px;
  }
  .call-card__img img{
    width: 200px;
  }
  .call-card__buttons{
    margin-top: 40px;
  }
  .call-card__phone{
    font-size: 20px;
  }
  .call-card__p{
    font-size: 18px;
  }
  .product-all__p p{
    font-size: 16px;
  }
  .product__button a{
    padding: 15px 25px;
    font-size: 16px;
  }

  .call-card__button-1 a{
    padding: 15px 25px;
    font-size: 16px;
  }
  .call-card__button-2 a{
    padding: 15px 25px;
    font-size: 16px;
  }
  .what-to-do-info-left__text{
    font-size: 18px;
  }
  .what-to-do-info-right__text{
    font-size: 18px;
  }
  .what-to-do-info-right__text-gray{
    font-size: 14px;
  }
  .services__body{
    font-size: 18px;
  }
  .map{
    font-size: 18px;
  }
  .map__body iframe{
    height: 232px;
  }
  .product-all__card-crosses{
    width: 600px;
    height: 500px;
  }
  .product-all__card-other{
    width: 600px;
    height: 500px;
  }
  .ven{
    height: 300px;
  }

}

@media screen and (max-width:960px){
  .nav__menu{
    height:0;
    width: 100%;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    background: black;
    opacity: 0.9;
    overflow-x: hidden; 
    transition: 0.5s;
  }

  .nav__burger{
    display: block;
    width: 40px;
    height: 40px;
    background: black;
    border-radius: 3px;
    cursor: pointer;
    
  }
  .nav__burger img{
    padding: 14px;
  }
  .nav__close{
    display: block;
    color: white;
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    font-family: 'PT Sans';
    cursor: pointer;
  }
  .nav__links {
    position: relative;
    top: 25%; 
    width: 100%; 
    text-align: center; 
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }

  .nav__link {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block; 
    transition: 0.3s;
    font-family: 'Dosis', sans-serif;
  }
  .nav__link a:hover{
    background: none;
  }

  .product{
    padding: 25px 10%;
  }
  .product-all__row{
    flex-direction: column;
    align-items: center; 
  }
  .product-all__card{
    width: 450px;
    height: 350px;
  }
  .call{
    padding: 25px 10%;
  }
  .services{
    padding: 15px 10% 25px
  }
  .what-to-do-info{
    padding: 50px 10%;
  }
  .map{
    padding: 25px 10%;
  }
  .product-all__card-crosses{
    width: 500px;
    height: 400px;
  }
  .product-all__card-other{
    width: 500px;
    height: 400px;
  }
  .ven{
    height: 400px;
  }
  
}

@media screen and (max-width:780px){
  .header__body{
    height: 50vh;
  }
  .call{
    padding: 25px 5%;
  }
  .services{
    padding: 15px 5% 25px;
  }
  .what-to-do-info{
    padding: 50px 5%;
  }
  .map{
    padding: 25px 5%;
  }
  .call-card__img{
    display: none;
  }
  .product-all__card{
    width: 350px;
    height: 250px;
  }
  .ven{
    height: 380px;
  }
  .info__body{
    padding: 40px 15%;
    
  }
  .info__p{
    justify-content: flex-start;
  }
}

@media screen and (max-width:480px){
  .header__border{
    width: 280px;
    height: 280px;
  }
  .top-line__info{
    display: none;
  }
  .nav__logo img{
    width: 90px;
  }
  .product__h2{
    font-size: 30px;
  }
  .call__h2{
    font-size: 30px;
  }
  .services__h2{
    font-size: 30px;
  }
  .map__h2{
    font-size: 30px;
  }
  .info__h2{
    font-size: 30px;
  }
  .product-all__card-crosses{
    width: 400px;
    height: 300px;
  }
  .product-all__card-other{
    width: 400px;
    height: 300px;
  }
  .product-all__h2{
    font-size: 30px;
  }
}